<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>679874454196-81sq7h821892ap19j5frjn5sbpl7lhs6.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.679874454196-81sq7h821892ap19j5frjn5sbpl7lhs6</string>
	<key>API_KEY</key>
	<string>AIzaSyDPqwn1my3QXr_Mv_PLqlF4awMah5eWBS0</string>
	<key>GCM_SENDER_ID</key>
	<string>679874454196</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.klim.Belleforet</string>
	<key>PROJECT_ID</key>
	<string>belleforet-55920</string>
	<key>STORAGE_BUCKET</key>
	<string>belleforet-55920.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:679874454196:ios:dea285ed266855d3f2ade1</string>
</dict>
</plist>